@using VampireTheEverythingSheetNoReact.Shared_Files
@model Trait[]
@{
    Trait[] traits = Model;
    string traitTypeName = traits.Length > 0
        ? " " + traits[0].Category.ToString()
        : "";
    string controlId = "traitAdder-" + traitTypeName;

    //TODO the button should do something
    //TODO enclose in a GridElement and some kind of special column thing that handles both traits and this thing

    <label for="@(controlId)">Add@(traitTypeName):</label>
    <select id="@(controlId)">
        @foreach (Trait trait in traits)
        {
            <option value="@(trait.UniqueID)">@(trait.Name)</option>
        }
    </select>
    <button data-control="@(controlId)">Add <span class="visually-hidden">@(traitTypeName)</span></button>
}