@using VampireTheEverythingSheetNoReact.Shared_Files
@model IEnumerable<Trait>
@{
    Dictionary<string, IEnumerable<Trait>> groupedTraits =
        new(from trait in Model
            group trait by trait.MainTrait into traitGroup
            select new KeyValuePair<string, IEnumerable<Trait>>
    (
        traitGroup.First().MainTrait == null
            ? ""
            : TraitTemplate.AllTraitTemplates[traitGroup.First().MainTrait ?? 0].Name,
        traitGroup
    ));


    string traitTypeName = Model.Any()
        ? " " + Model.First().Category.ToString()
        : "";
    string controlId = "traitAdder-" + traitTypeName;
    if (traitTypeName == "SpecificPower")
    {
        traitTypeName = "Specific Power";
    }


    //TODO the button should do something

    <div class="d-flex justify-content-between">
        <label for="@(controlId)">Add@(traitTypeName):</label>
        <div class="align-self-end">
            <select id="@(controlId)">
                <option value="">Add...</option>
                @foreach (string mainTrait in groupedTraits.Keys)
                {
                    @if(!string.IsNullOrEmpty(mainTrait))
                    {
                        <option value="">-- @(mainTrait) --</option>
                    }
                    @foreach (Trait trait in groupedTraits[mainTrait])
                    {
                        <option value="@(trait.TraitID)">@(trait.Name)</option>
                    }
                }
            </select>
            <button data-control="@(controlId)">Add <span class="visually-hidden">@(traitTypeName)</span></button>
        </div>
    </div>
}