@using VampireTheEverythingSheetNoReact.Shared_Files
@model IEnumerable<Trait>
@{
    IEnumerable<Trait> traits = Model;
    string traitTypeName = traits.Count() > 0
        ? " " + traits.First().Category.ToString()
        : "";
    string controlId = "traitAdder-" + traitTypeName;

    //TODO the button should do something

    <div class="d-flex justify-content-between">
        <label for="@(controlId)">Add@(traitTypeName):</label>
        <div class="align-self-end">
            <select id="@(controlId)">
                <option value="">Add...</option>
                @foreach (Trait trait in traits)
                {
                    <option value="@(trait.UniqueID)">@(trait.Name)</option>
                }
            </select>
            <button data-control="@(controlId)">Add <span class="visually-hidden">@(traitTypeName)</span></button>
        </div>
    </div>
}