@using VampireTheEverythingSheetNoReact.Models.Component
@using VampireTheEverythingSheetNoReact.Shared_Files
@model GridElementModel

<div class="text-start" style=" grid-column-start: @(Model.Column); grid-column-end: @(Model.ColumnEnd); grid-row-start: @(Model.Row); grid-row-end: @(Model.RowEnd);">
    @(await Model.Content)
</div>